<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<div th:fragment="new-user" class="card">
    <h5 class="card-header">Add new user</h5>
    <div class="card-body">
        <div class="col-md-4 mx-auto" id="newUser">
            <form th:method="POST">
                <div class="form-group d-flex flex-column">
                    <label for="name" class="text-center font-weight-bold">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name"/>
                    <br/>
                    <label for="lastname" class="text-center font-weight-bold">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last name">
                    <br/>
                    <label for="age" class="text-center font-weight-bold">Age</label>
                    <input type="text" class="form-control" id="age" placeholder="Age"/>
                    <br/>
                    <label for="email" class="text-center font-weight-bold">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email"/>
                    <br/>
                    <label for="password" class="text-center font-weight-bold">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"/>
                    <br/>
                    <label class="text-center font-weight-bold" for="rolesSelector">Role</label>
                    <select class="custom-select" size="2" id="rolesSelector"  multiple required>
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER">USER</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-success d-block mx-auto" type="submit" id="buttonNewUserConfirm">Add new user</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>