<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<div th:fragment="modal-edit" class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:method="PATCH" action="#" th:action="@{/admin/edit}" th:object="${user}" id="modalForm">
                <div class="modal-body">
                    <div class="col-6 mx-auto">
                        <div class="form-group">
                            <div class="form-group d-flex flex-column">
                                <label class="text-center font-weight-bold" for="editId">Id</label>
                                <input class="form-control form-control-sm" type="text" id="editId" th:field="*{id}" readonly required/>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="text-center font-weight-bold" for="editName">Name</label>
                                <input class="form-control form-control-sm" type="text" id="editName" th:field="*{name}" required>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="text-center font-weight-bold" for="editLastName">Last Name</label>
                                <input class="form-control form-control-sm" type="text" id="editLastName" th:field="*{lastName}" required/>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="text-center font-weight-bold" for="editAge">Age</label>
                                <input class="form-control form-control-sm" type="text" min="1" max="120" id="editAge" th:field="*{age}" required/>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="text-center font-weight-bold" for="editEmail">Email</label>
                                <input class="form-control form-control-sm" type="text" id="editEmail" th:field="*{email}" required/>
                            </div>
                            <div class="form-group d-flex flex-column">
                                <label class="text-center font-weight-bold" for="editPassword">Password</label>
                                <input class="form-control form-control-sm" type="password" id="editPassword" th:field="*{password}" required/>
                            </div>
                            <div class="d-flex flex-column">
                                <label class="text-center font-weight-bold" for="rolesSelector">Role</label>
                                <select class="custom-select" size="2" id="rolesSelector" th:field="*{roles}" multiple required>
                                    <option th:text="ADMIN" th:value="${roleAdmin.getId()}" id="roleAdmin"></option>
                                    <option th:text="USER" th:value="${roleUser.getId()}" id="roleUser"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
        </form>
        </div>
    </div>
</div>
</body>
</html>