<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users table</title>
</head>
<body>
<div th:fragment="users-table" class="card">
    <h5 class="card-header">All users</h5>
    <div class="card-body">
        <table class="table table-striped" id="users-tableContent">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr th:each="user : ${users}">-->
<!--                <td th:text="${user.id}">ID</td>-->
<!--                <td th:text="${user.name}">Name</td>-->
<!--                <td th:text="${user.lastName}">Last Name</td>-->
<!--                <td th:text="${user.age}">Age</td>-->
<!--                <td th:text="${user.email}">Email</td>-->
<!--                <td>-->
<!--                    <span th:each="role : ${user.roles}"><span th:text="${role} + ' '">Role</span></span>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalEdit"-->
<!--                                th:attr="data-id=${user.id}, data-name=${user.name}, data-lastname=${user.lastName},-->
<!--							        data-age=${user.age}, data-email=${user.email},data-password=${user.password}, data-roles=${user.roles}">-->
<!--                        Edit-->
<!--                    </button>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete"-->
<!--                                th:attr="data-id=${user.id}, data-name=${user.name}, data-lastname=${user.lastName},-->
<!--									data-age=${user.age}, data-email=${user.email},data-password=${user.password}, data-roles=${user.roles}">-->
<!--                        Delete-->
<!--                    </button>-->
<!--                </td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>